html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
    background-color: #121212; 
    color: #E0E0E0; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .App-header {
    background-color: #1E2043; 
    padding: 20px;
    color: #FFFFFF;
    font-size: 2rem; 
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .App-body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #121212;
    min-height: 100vh;
    gap: 20px; 
  }
  .current-container {
    width: 100%;
    max-width: 1300px;
    background-color: #1F1F1F;
    padding: 60px;
    border-radius: 12px; 
    border: 1px solid transparent; 
    border-color: #414ac4;
    background-clip: padding-box; 
    box-shadow: 0 4px 12px rgba(88, 95, 219, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    position: relative;
    overflow: hidden;
  }

  .graph-container {
    width: 100%;
    max-width: 1300px;
    background-color: #1F1F1F;
    padding: 60px;
    border-radius: 12px; 
    border: 1px solid transparent; 
    border-color: #414ac4;
    background-clip: padding-box; 
    box-shadow: 0 4px 12px rgba(88, 95, 219, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    position: relative;
    overflow: hidden;
  }
  
  .history-container {
    width: 100%;
    max-width: 1300px;
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 12px; 
    border: 1px solid transparent; 
    border-color: #414ac4;
    background-clip: padding-box; 
    box-shadow: 0 4px 12px rgba(88, 95, 219, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    position: relative;
    overflow: hidden;
   
  }
  
  .history-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
  }
  
  .history-item {
    background-color: #2C2C2C; 
    padding: 15px;
    border-radius: 8px;
    color: #E0E0E0;
    font-size: 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .high-noise {
    background-color: #971818;
    color: #E0E0E0;
    border: 1px solid #df0f0f; 
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: medium;
    
  }
  .high-noise:hover {
    transform: scale(1.05);
  }
  
  .normal-noise {
    background-color: #329f0b;
    color: #E0E0E0;
    border: 1px solid #2cd805; 
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: medium;
  }
  
  .normal-noise:hover {
    transform: scale(1.05);
  }
  
  .medium-noise {
    background-color: #d4a10c; 
    color: #E0E0E0;
    border: 1px solid #f7c600; 
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .medium-noise:hover {
    transform: scale(1.05);
  }

  .graph-container h2, .history-container h2 {
    color: #E0E0E0; /* Header color in light */
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  /* Style for the View More button */
  .view-more-button {
    margin-top: 20px;
    padding: 10px 0%;
    background-color: #2933c5;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .view-more-button:hover {
    transform: scale(1.05);
  }
  
  .month-dropdown{
    margin-bottom: 20px;
    padding: 10px 0%;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .month-dropdown select {
    padding: 5px;
    margin-left: 10px;
  }
  
  .month-dropdown option {
    padding: 5px;
    margin-left: 10px;
  }
  
  .a-container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 60px;
  }
  
  .all-day-sound-levels,
  .high-noise-events {
    flex: 0 0 48%;
    padding: 40px;
    background-color: #222; 
    border: 1px solid #444; 
    border-radius: 10px; 
    color: #fff; 
    display: flex;
    flex-direction:column; 
  }
  
  .all-day-sound-levels h4,
  .high-noise-events h4 {
    margin-bottom: 1px;
    font-size: 1.2rem; 
    color: #fff; 
    text-align: center;
  }
  
  /* Lists */
  .all-day-sound-levels ul,
  .high-noise-events ul {
    list-style-type: none; /* Remove bullets */
    padding: 40px;
  }
  
  /* List items */
  .all-day-sound-levels li,
  .high-noise-events li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333; 
    border: 1px solid #555; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
  }
  .current-sound-level{
    font-size: 2rem;
  }
  
